
<div class="limiter">
  <div class="container-table100">
  <div class="wrap-table100">
  <div class="table100">
  <table>
  <thead>
  <tr class="table100-head">
    <th scope="col">Id</th>
    <th scope="col">Name</th>
    <th scope="col">Address</th>
    <th scope="col">Email</th>
    <th *ngIf="loggedIn()" scope="col">Delete</th>
    <th *ngIf="loggedIn()" scope="col">Edit</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of collection">
      <th >{{item.id }}  </th>
      <td>{{item.name | uppercase}}</td>
      <td>{{item.address }}</td>
      <td>{{item.email | lowercase}}</td>
      <th *ngIf="loggedIn()"><i (click)="deleteResto(item.id)" class="fa fa-trash" style="font-size:20px;color:red;"></i></th>
      <th *ngIf="loggedIn()">
        <a routerLink="/update/{{item.id}}">
          <i  class="fa fa-edit" style="font-size:20px;color:blue;">
          </i>
        </a>
      </th>
    </tr>


  </tbody>
  </table>
  </div>
  </div>
  </div>
  </div>
  <script src="../external-js-css/jquery.min.js"></script>
<script src="../external-js-css/popper.js"></script>
<script src="../external-js-css/bootstrap.min.js"></script>
<script src="../external-js-css/select2.min.js"></script>
<script src="../external-js-css/main.js"></script>

