
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" href="#">MyResto</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" 
  aria-controls="navbarNav" (click)="isShown = !isShown" [attr.aria-expanded]="isShown"
     aria-label="Toggle navigation">
     <!-- aria-expanded="false" -->
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav" [ngClass]="{ 'show': isShown }" >
    <ul class="navbar-nav ml-auto ">
      <li class="nav-item "><a class="nav-link" routerLink="list">LIST</a></li>
      <li *ngIf="loggedIn()" class="nav-item "><a class="nav-link " routerLink="add">ADD-RESTO</a> </li>
      <li *ngIf="!loggedIn()" class="nav-item "><a class="nav-link" routerLink="login">LOGIN</a></li>
      <li *ngIf="!loggedIn()" class="nav-item "><a class="nav-link" routerLink="register">REGISTER-USER</a></li>
      <li *ngIf="loggedIn()" class="nav-item "><a class="nav-link" href="#" (click)="onLogout()">LOGOUT</a></li>

    </ul>
  </div>
</nav>


<router-outlet></router-outlet>